.advantages {
  padding: 100px 75px 50px;

  &__title {
    font: $h2-font;
    padding-bottom: 65px;
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;

    &__l,
    &__r {
      display: flex;
      gap: 20px;
    }
    &__info {
      &__r {
        text-align: end;
        max-width: 505px;
      }
      &__l {
        text-align: start;
        max-width: 505px;
      }
    }

    &__img {
      max-width: 80px;
      height: 100%;
      border-radius: 50%;
      background-color: $background-yellow;
      padding: 20px;

      img {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    &__border {
      position: relative;
      padding: 4px;
      border-radius: 50%;
    }

    &__center {
      padding: 50px;
      border-radius: 50%;
      background-color: $white-color;
      //position: relative;
      //border: 3.32px solid transparent;
      //border-image: $border-color-gray;
      //border-image-slice: 1;

      &__circle {
        width: 370px;
        height: 370px;

        &__img {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 50px;
          border-radius: 50%;
          border: 67px solid $background-yellow;
        }
      }
    }

    &__border::before {
      position: absolute;
      content: "";
      left: -4px;
      right: -4px;
      top: -4px;
      bottom: -4px;
      background: $border-color-gray;
      border-radius: 50%;
      z-index: -1;
    }

    &__left {
      display: flex;
      gap: 20px;
      padding-top: 60px;
      padding-right: 45px;

      &__info {
        text-align: end;
        max-width: 505px;
      }

      &__img {
        max-width: 80px;
        height: 100%;
        border-radius: 50%;
        background-color: #ffd00e;
        padding: 20px;

        img {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &--pl {
        padding-right: 75px;
      }
    }

    &__right {
      display: flex;
      gap: 20px;
      padding-top: 60px;
      padding-left: 45px;

      &__info {
        text-align: start;
        max-width: 505px;
      }

      &__img {
        max-width: 80px;
        height: 100%;
        border-radius: 50%;
        background-color: #ffd00e;
        padding: 20px;

        img {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &--pl {
        padding-left: 75px;
      }
    }
  }

  // hhhhhhhhhhhhhhhhhhhhhhhhh

  &__box {
    display: flex;
    gap: 20px;
    padding-top: 50px;

    &__card {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  &__arrow {
    width: 56px;
    height: 53px;
    background-color: $border-color;
    border: none;
    cursor: pointer;

    &--left {
      top: 90px;
      left: -30px;
    }

    &--right {
      top: 90px;
      right: -30px;
    }
  }

  &__arrow:hover {
    background-color: $background-yellow;
  }
}

@media (max-width: 1320px) {
  .advantages {
    &__main {
      //flex-direction: column;
    }
  }
}

@media (max-width: 1024px) {
  .advantages {
    &__box {
      flex-direction: column;
    }
  }
}
